@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

$main_color: #8b4b94;
$second_color: #5e2260;
$white_color: #fff;
$danger_color: #fc2f70;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: $white_color;
}

a {
    text-decoration: none;
    color: $white_color;
}

.app {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(61, 0, 90) 20%, rgb(173, 149, 176) 120%);
}

h1, h2, h3, h4, p {
    margin: 0;
}

._container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.title {
    font-weight: 700;
    font-size: 2rem;
}

.subtitle {
    font-weight: 700;
    font-size: 1.2rem;
}