.home {

    .home__title {
        text-align: center;
        margin-top: 3rem;
    }

    .home__inner {
        display: flex;
    }

    .home__inner-item {
        flex-basis: 30%;
        border: 2px dotted $white_color;
        height: auto;
        margin: 2rem 5px;

        &.hovered {
            border-color: rgb(142, 219, 48);
        }
    }

    .home__inner-item-subtitle {
        text-align: center;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    .home__inner-item-body {
        
        margin: 10px;
        min-height: 300px;
    }
}

@media (max-width: 992px) {
    .home {
        .home__inner {
            flex-wrap: wrap;
        }
    
        .home__inner-item {
            flex-basis: 45%;
        }

        .home__inner-item--past {
            order: 2;
            flex-basis: 100%;
        }
    }
}

// @media (max-width: 576px) {
//     .home {
//         .home__inner-item {
//             flex-basis: 100%;
//         }
//     }
// }