.launch-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid $white_color;
    margin: 10px 10px 15px;
    padding: 5px;

    &:hover {
        box-shadow: 4px 4px 8px 7px rgba(220, 228, 234, 0.2);
        background-color: $main_color;
    }

    .launch-card__image {
        height: 50px;
        width: auto;
    }
}