.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(61, 0, 90) 20%, rgb(173, 149, 176) 120%);

    .loader__inner {
        width: 3.5rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .loader__inner-item {
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        background-color: $white_color;
        transform: translateY(-100%);
        animation: wave 0.8s ease-in-out alternate infinite;
    }

    .loader__inner-item:nth-of-type(1) {
        animation-delay: -0.4s;
    }

    .loader__inner-item:nth-of-type(2) {
        animation-delay: -0.2s;
    }
  }

  @keyframes wave {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }