@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

$main_color: #8b4b94;
$second_color: #5e2260;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.app {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(147.87deg, $main_color -2%, $second_color 118%);
}

h1 {
    margin: 0;
}

._container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}